html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #082537;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a { text-decoration: none; color: #3A6368; }
a:hover { color: #969e44; }

small { font-size: 0.8em;}

.hide { display: none; }
.offpage { position: fixed; top: -10000px; }

.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

body { 
	background-color: #f9f7f3;
}
.page { 
	margin: 10px auto; 
	width: 860px; 
	position: relative;
}

.left-rail {
	float: left;
	margin-left: 30px;
	width: 130px;
	min-height: 1px;
}

.main-rail {
	float: left;
	margin-left: 30px;
	width: 670px; 
	min-height: 1px;
}


.main-nav {
	margin-top: 250px;
	width: 130px;
}
.main-nav.popped { 
	position: fixed;
	margin-top: 100px;
}
.main-nav li {
	text-align: right;
}
.main-nav a {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 5px 0;
}
.main-nav .active {
	font-weight: bold;
}
.sec { 
	margin-bottom: 3em;
	margin-left: 15px;
}
.sec h2 {
	margin-left: -15px;
}

.slides { position: relative; overflow:hidden; border-radius: 3px; background-color: #1D1E24; box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.8); padding: 20px; }
.slides .slide { width: 100%; height: 100%; }
.slides .slide img { position: relative; top: 50%; left: 50%; }
#home-slides, #picnic-slides { width: 630px; height: 480px;}

.slides .controls {
	background-color: #1D1E24;
	z-index: 1000;
	position: absolute;
	width: 150px;
	height: 60px;
	left: 50%;
	bottom: -55px;
	margin-left: -75px;
	opacity: 0.6;
	border-radius: 5px 5px 0 0;
}

.slides .controls:hover { opacity: 0.7; }

.slides .icon {
	background: transparent url(../img/sprite.png) no-repeat 0 0; 
	position: absolute;
	opacity: 0.6;
	cursor: pointer;
}

.slides .icon:hover {
	opacity: 1 !important;
}

.slides .play { 
	background-position: -27px 0;
	width: 48px; 
	height: 48px; 
	left: 50%; 
	margin-left: -24px;
	top: 50%;
	margin-top: -24px;
}

.slides .pause { 
	background-position: -75px 0;
	width: 48px; 
	height: 48px; 
	left: 50%; 
	margin-left: -24px;
	top: 50%;
	margin-top: -24px;
}

.slides .prev {
	background-position: 0 -24px;
	width: 30px; 
	height: 24px; 
	left: 5px; 
	top: 50%;
	margin-top: -12px;
}

.slides .next {
	background-position: 0 0;
	width: 30px; 
	height: 24px; 
	right: 5px; 
	top: 50%;
	margin-top: -12px;
}

h1 { font-size: 3em; margin: 2em 0; }
h2 { font-size: 2em; margin: 0 0 1em; }
h3 { font-size: 1.5em; }
p { margin-bottom: 30px; }